/*Setting up the background "canvas area" which will be lime at 50% opacity*/

body{
   background-color: rgba(18, 255, 120, 0.5)
}


   /*Setting up the stripes which will all be the same height and size but will have different positions and colors.*/

   stripe-1+stripe-2+stripe-3 {
     id: number-1
     width: 1000px;
     height: 100px;
     position:absolute;
     padding: 20px
     background-color: rgb(249, 181, 255);
   }

   stripe-2{
     background-color: rgb(94, 6, 232);
   }

   stripe-3{
     background-color: rgb(93, 222, 232);
   }

}
   h1{
     font-family: Arial;
     font-weight: black;
     font-size: 80px;
     color: rgb(94, 6, 232);
     text-align: center;
   }
